body{
    background-color: #14385e;
}
*{
    color: white;
}

.image{
    height: 50vh;
    width: 100%;
    background: linear-gradient(to right, #14385e, transparent, #14385e),linear-gradient(to top, #14385e, transparent, #14385e), url("./media/animation-delight-users.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text {
    color: #fff;
    overflow: hidden;
    background: transparent;
}
.text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.an-text {
  background: 50% 100% / 50% 50% no-repeat
  radial-gradient(ellipse at bottom, #48bfe3, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 4vw;
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
}           

@keyframes reveal {
    80%{
        letter-spacing: 8px;
    }
    100% {
        background-size: 300% 300%;
    }
}
@keyframes glow {
    40% {
        text-shadow: 0 0 8px #52b788;
    }
}


.line-1{ 
    width: 14em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
    
}

.line-2{ 
  width: 14em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);  
  
}
.anim-typewriter2{
  animation: typewriter 4s steps(44) 1s 1 normal both,
  blinkTextCursor 500ms steps(44) infinite normal;
  animation-delay: 0.5s;  
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 14em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
    animation-delay: 3s;  
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 14em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

.title {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #48bfe3), color-stop(0.15, #56cfe1), color-stop(0.3, #64dfdf), color-stop(0.45, #72efdd), color-stop(0.6, #80ffdb),color-stop(0.75, #95d5b2), color-stop(0.9, #74c69d), color-stop(1, #52b788) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@media screen and (max-width: 450px) {
  .title {
    font-size: 30px;
  }
}

.title2{
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #48bfe3), color-stop(0.15, #56cfe1), color-stop(0.3, #64dfdf), color-stop(0.45, #72efdd), color-stop(0.6, #80ffdb),color-stop(0.75, #95d5b2), color-stop(0.9, #74c69d), color-stop(1, #52b788) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  font-size: 20px;
}

 
.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
    .card {
      flex: 0 0 auto;
    }

    .slider-i {
      flex: 0 0 auto;
    }

/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px white; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #52b788; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #52b788; 
  }

  .image-gif{
    width: auto;
      height: 400px;
      opacity: 0.5;
      
  }
  @media screen and (max-width: 450px) {
    .image-gif {
      width: 90%;
      height: 80%;
    }
  }

  .site{
      width: 95%;
      box-shadow: 8px 8px 10px rgba(0,0,0,.5);
      transition: 1s;
  }

  .site:hover{
    box-shadow: none;
}

.navbar-fixed-top{
  position: fixed;
  top: 0;
  background-color:transparent;
  z-index: 99;
  transition: 1s;
  
  }

  .navbar-link{
    color: white;
  }

  .navbar-link:hover{
    text-decoration: none !important;
    color: white;
    
  }
  .navbar-link.scrolled{
    text-decoration: none !important;
    color: #256c9b !important;
  }

  .navbar-fixed-top.scrolled {
    display: inline;
    background-color: #fff !important;
    transition-delay: 800ms;
    transition: background-color 500ms linear;
    box-shadow: 15px 15px 18px rgba(0, 0, 0, 0.3);
    transition: 1s;

  }

  .btn-accent{
    background: 
      linear-gradient(to right, #52b788,2px, transparent 2px) 0 0,
      linear-gradient(to right, #52b788,2px, transparent 2px) 0 100%,
      linear-gradient(to left, #52b788,2px, transparent 2px) 100% 0,
      linear-gradient(to left, #52b788,2px, transparent 2px) 100% 100%,
      linear-gradient(to bottom, #52b788,2px, transparent 2px) 0 0,
      linear-gradient(to bottom, #52b788,2px, transparent 2px) 100% 0,
      linear-gradient(to top, #52b788,2px, transparent 2px) 0 100%,
      linear-gradient(to top, #52b788,2px, transparent 2px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    transition: 0.5s;
}
.btn-accent:hover{
    letter-spacing: 3px;
}

.modal-header{
  background-image: url("https://tecnoalimeninfo.com/wp-content/uploads/2019/07/Computer-programming.jpg");
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.modal-header2{
  background-image: url("https://avatars.mds.yandex.net/get-altay/1489947/2a0000016875ac94f35914b0bea72df14822/L");
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.modal-header3{
  background-image: url("https://www.fondocasa.it/agenzie/827.jpg");
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.modal-header4{
  background-image: url("https://www.milanoweekend.it/wp-content/uploads/2018/09/milano-fashion-week-2018-620x340.jpg");
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cont{
  color: white !important;
  font-size: 20px;
}
.modal-body{
  background-color: #14385e;
}

#form{
  width: 75%;
  height: 40px;
  color: blue;
}

.btn-cv{
  width: 250px;
  background: -webkit-gradient( linear, left top, right top, color-stop(0, #48bfe3), color-stop(0.15, #56cfe1), color-stop(0.3, #64dfdf), color-stop(0.45, #72efdd), color-stop(0.6, #80ffdb),color-stop(0.75, #95d5b2), color-stop(0.9, #74c69d), color-stop(1, #52b788) );
  background-position: 0% 100%;
  background-size: 200%;
  letter-spacing: 2px;
    font-size: medium;
    padding: 15px 45px;
  color: white;
}

.btn-cv:hover{
  background-position: 100% 0%;
  color: white;
  transition: 1s;
}

.btn-mail{
  height: 40px;
  background: -webkit-gradient( linear, left top, right top, color-stop(0, #48bfe3), color-stop(0.15, #56cfe1), color-stop(0.3, #64dfdf), color-stop(0.45, #72efdd), color-stop(0.6, #80ffdb),color-stop(0.75, #95d5b2), color-stop(0.9, #74c69d), color-stop(1, #52b788) );
  background-position: 0% 100%;
  background-size: 200%;
  letter-spacing: 3px;
  color: white;
  border: none;
  border-radius: 8px;
}

.btn-mail:hover{
  
  background-position: 100% 0%;
  color: white;
  transition: 1s;
}


.active{
  color: #52b788;
  letter-spacing: 2px;
  border-bottom: 4px solid #52b788;
  text-transform: uppercase;
}

.logo{
  filter: saturate(100%);
}

.button-certificate{
  background-color: transparent;
  border: none;
}